:root{
  --primary-color-green: #21BF73;
  --second-color-green: #B0EACD;
  --third-color-red: #FD5E53;
  --last-color: #F9FCFB;
  --width: 85%;
}
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body{
  font-family: "Roboto Slab", serif;
  background: var(--second-color-green);
}
h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-size: 60px;
  font-weight: 800;
  color: var(--last-color);
}
h3{
  font-size: 20px;
  font-weight: 200;
  color: var(--last-color);
}
p{
  font-family: 'Open Sans', sans-serif;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}
